p {
    color: white;
}

.item {
    color: white;
}

.col-6 {
    padding: 8px;
}

.img-podcast-favorito {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.img-podcast-favorito:hover {
    opacity: 0.7;
}

.container {
    margin-top: 16px;
    margin-bottom: 64px;
}