<div [ngClass]="{ 'active-menu': isShown }">
    <div class="menu-bar">

        <app-podcast-description [podcast]="favorito.podcast">
            <i  tabindex="0" 
                (keyup.space)="toggle()"
                (click)="toggle()"
                class="material-icons"
                style="cursor: pointer;">
                close
            </i>
        </app-podcast-description>

        <div class="row" style="margin-top: 16px;">
            <div class="col menu">
                <div class="menu-item" (click)="goToPodcast(favorito.podcast)">
                    <!-- <i class="fa fa-headphones"></i> -->
                    <span class="material-icons">headphones</span>
                    <p>Ouvir</p>
                </div>
            </div>
            <div class="col menu">
                <div class="menu-item" (click)="toggleFavorite()">

                    <ng-container *ngIf="auxFavorite; else iconFavorite">
                        <span class="material-icons-outlined">favorite</span>
                        <p>Favoritar</p>
                    </ng-container>
                    <ng-template #iconFavorite>
                        <span class="material-icons-outlined">favorite_border</span>
                        <p>Favoritar</p>
                    </ng-template>
                    
                    
                </div>
            </div>
            <div class="col menu">
                <div class="menu-item" (click)="toggleNotification()">
                    <!-- <i class="fa fa-bell"></i> -->
                    <span [ngClass]="{ 'material-icons-outlined': iconNotificationOutlined == false, 'material-icons': iconNotificationOutlined == true }">
                        notifications
                    </span>
                    <p>Notificar</p>
                </div>
            </div>
        </div>

        <div *ngIf="favorito.notificacao" class="row notificacoes">
            <div class="horario">16:00</div>
            <div [ngClass]="{ 'active': notificacaoTemDia(1) }" class="circulo" (click)="setNotification(1)">D</div>
            <div [ngClass]="{ 'active': notificacaoTemDia(2) }" class="circulo" (click)="setNotification(2)">S</div>
            <div [ngClass]="{ 'active': notificacaoTemDia(3) }" class="circulo" (click)="setNotification(3)">T</div>
            <div [ngClass]="{ 'active': notificacaoTemDia(4) }" class="circulo" (click)="setNotification(4)">Q</div>
            <div [ngClass]="{ 'active': notificacaoTemDia(5) }" class="circulo" (click)="setNotification(5)">Q</div>
            <div [ngClass]="{ 'active': notificacaoTemDia(6) }" class="circulo" (click)="setNotification(6)">S</div>
            <div [ngClass]="{ 'active': notificacaoTemDia(7) }" class="circulo" (click)="setNotification(7)">S</div>
        </div>

        <div class="row abrir-episodios" style="margin-top: 16px;">
            <div class="col" (click)="goToPodcast(favorito.podcast)">
                <span class="material-icons-outlined open-icon">open_in_new</span>
                <span>Abrir episódios</span>
            </div>
        </div>
    </div>

    <div class="overlay" (click)="toggle()"></div>
</div>