<div [ngClass]="{ 'active-menu': isShown }">
    <div class="menu-bar">

        <app-podcast-description [podcast]="favorito.podcast">
            <i  tabindex="0" 
                (keyup.space)="toggle()"
                (click)="toggle()"
                class="material-icons"
                style="cursor: pointer;">
                close
            </i>
        </app-podcast-description>

        <div class="row" style="margin-top: 16px;">
            <div class="col menu">
                <div class="menu-item" routerLink="/player">
                    <!-- <i class="fa fa-headphones"></i> -->
                    <span class="material-icons">headphones</span>
                    <p>Ouvir</p>
                </div>
            </div>
            <div class="col menu">
                <div class="menu-item" (click)="toggleFavorite()">
                    <!-- <i class="fa fa-heart"></i> -->
                    <span class="material-icons-outlined">favorite</span>
                    <p>Favoritar</p>
                </div>
            </div>
            <div class="col menu">
                <div class="menu-item" (click)="toggleNotification()">
                    <!-- <i class="fa fa-bell"></i> -->
                    <span [ngClass]="{ 'material-icons': auxNotification == true, 'material-icons-outlined': auxNotification == false }">
                        notifications
                    </span>
                    <p>Notificar</p>
                </div>
            </div>
        </div>

        <div *ngIf="auxNotification" class="row notificacoes">
            <div class="horario">16:00</div>
            <div [activeGreen] class="circulo" (click)="setNotification(1)">D</div>
            <div [activeGreen] class="circulo" (click)="setNotification(2)">S</div>
            <div [activeGreen] class="circulo" (click)="setNotification(3)">T</div>
            <div [activeGreen] class="circulo" (click)="setNotification(4)">Q</div>
            <div [activeGreen] class="circulo" (click)="setNotification(5)">Q</div>
            <div [activeGreen] class="circulo" (click)="setNotification(6)">S</div>
            <div [activeGreen] class="circulo" (click)="setNotification(7)">S</div>
        </div>

        <div class="row abrir-episodios" style="margin-top: 16px;">
            <div class="col" (click)="goToPodcast(favorito.podcast)">
                <span class="material-icons-outlined open-icon">open_in_new</span>
                <span>Abrir episódios</span>
            </div>
        </div>
    </div>

    <div class="overlay" (click)="toggle()"></div>
</div>