<app-header [titulo]="headerTitulo"></app-header>
<div class="container">
    <img src="{{ episodio.img }}" class="img-podcast">
    <p class="titulo-podcast">{{ episodio.nome }}</p>
 
    <ng-container *ngIf="play; else pause">
        <p>
            <span class="material-icons" (click)="playPause()">play_circle_outline</span>
        </p>
    </ng-container>
    
    <ng-template #pause>
        <div class="music">
            <span class="wave"></span>
            <span class="wave"></span>
            <span class="wave"></span>
            <span class="wave"></span>
            <span class="wave"></span>
        </div>

        <p>
            <span class="material-icons" (click)="playPause()">pause_circle_outline</span>
        </p>
    </ng-template>
</div>